/* Simplified navbar styles */
.spacer {
  flex: 1 1 auto;
}

.brand {
  text-decoration: none;
  color: blue;
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 20px;
}

.username {
  margin-right: 10px;
}