<div class="container">
  <div class="header">
    <h1>Blog Posts</h1>
    
    @if (isAuthenticated()) {
      <button mat-raised-button color="primary" routerLink="/blog/new">
        <mat-icon>add</mat-icon> New Blog
      </button>
    }
  </div>

  @if (blogs().length === 0) {
    <div class="empty-state">
      <p>There are no blog posts yet.</p>
      @if (isAuthenticated()) {
        <p>Click the 'New Blog' button to create your first post.</p>
      } @else {
        <p>Please log in to create a new blog post.</p>
      }
    </div>
  } @else {
    <div class="blog-list">
      @for (blog of blogs(); track blog.id) {
        <div class="blog-item">
          <h2>{{ blog.title }}</h2>
          <div class="blog-meta">
            Posted by {{ blog.created_by }} on {{ formatDate(blog.date) }}
          </div>
          <p class="blog-content">{{ blog.content }}</p>
          
          @if (canEdit(blog)) {
            <div class="blog-actions">
              <a mat-button color="primary" [routerLink]="['/blog/edit', blog.id]">
                <mat-icon>edit</mat-icon> Edit
              </a>
              <button mat-button color="warn" (click)="deleteBlog(blog)">
                <mat-icon>delete</mat-icon> Delete
              </button>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
